:root {
  --nav-btn-border-color: #8899aa;
  --nav-btn-color: #0e6fff;
  --nav-text-color: #89a7c3;
  --nav-text-hover-color: #4d7499;
  --nav-bg-color: #fafafa;
}

.nav {
  height: clamp(4rem, 2rem + 5vw, 8rem);
  width: 100%;
  background-color: var(--nav-bg-color);
}

.nav__content {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav__logo {
  font-family: Sarina, system-ui, sans-serif;
  font-size: 2rem;
  padding: 2rem;
}

.nav__links {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: clamp(1rem, 3vw, 3.5rem);
}

.nav__link {
  color: var(--nav-text-color);
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav__link:hover {
  color: var(--nav-text-hover-color);
}

.nav__button {
  padding: 0.5rem 1rem;
  color: var(--nav-btn-color);
  font-size: 1.25rem;
  font-weight: 700;
  background: none;
  border: 1px solid var(--nav-btn-border-color);
  border-radius: 0.25rem;
  transition: all 0.3s ease;
  background: var(--nav-bg-color);
}

.nav__button:hover {
  color: white;
  background-color: var(--nav-btn-color);
  border: 1px solid var(--nav-btn-color);
}

.hamburger {
  display: none;
  width: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .nav__content {
    width: 80%;
  }

  .nav__logo {
    font-size: 1.5rem;
    padding: 0;
  }

  .nav__link {
    font-size: 1rem;
  }

  .nav__button {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav__links {
    display: none;
    position: absolute;
    right: 10vw;
    top: 4rem;
    height: fit-content;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--nav-bg-color);
    z-index: 1;
  }

  .nav__content .nav__links.active {
    display: flex;
  }
}
